
body {
    font-family: monospace;
    background-color: #323437;
    color: #e2b714;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo h1 {
    margin: 5px 0;
    color: black;
}
.word-display {
    font-family: monospace;
    font-size: 16px;
    color: #e2b714;;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.word-display .highlight {
    color: #e2b714;;
}

.word-display .bold {
    font-weight: bold;
}

.word-display .italic {
    font-style: italic;
}

.word-display .underline {
    text-decoration: underline;
}

.intro {
    margin: 20px;
}

.game {
    background-color: #1e1e1e;
    padding: 15px;
    border: 2px solid #e2b714;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.input-box {
    margin: 10px 0;
}

.input-box input {
    padding: 5px;
    width: 50%;
    margin-top: 5px;
}

.input-box button {
    background-color: #e2b714;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}

.keyboard-layout {
    background-color: #1e1e1e;
    border: 2px solid #e2b714;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

.keyboard {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.keyboard td {
    border: 2px solid #e2b714;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: aqua;
}

.keyboard .space {
    width: 50%;
}

footer {
    color: white;
    padding: 10px;
    font-size: 14px;
}
